.wrap {
    margin-bottom: 1rem;
}
.label {
    font-size: 12px;
    font-weight: 700;
};
.input {
    border: 1px solid lightblue;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    color: #1f3349;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 0 lightblue;
    }
};
.error {
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 0 7px #f74e4e;
    background: #fbe5e5;
    border: 1px solid #f74e4e;
    color: #f74e4e;
}


